@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><s>~Midji Team~</s> Fabian Team:</p>
<div class="icons">
    <img src="images/Fabbernat-polyhead-icon" alt="Fabbernat Polyhead Icon" title="Fabbernat Polyhead Icon" />
</div>
<div class="contact">
    <h3>Contact us!</h3>
    <ul>
       <li>Facebook <a>https://Facebook.com</a></li>
        <li>X (Twitter) <a>https://x.com</a></li>
        <li>Github<a>https://github.com/Fabbernat</a></li>
    </ul>
</div>